{% extends "base.html"%}
{% load static %}
{% load humanize %}
{% block content %}
    <!-- Sub banner start -->
    <div class="sub-banner overview-bgi">
      <div class="container breadcrumb-area">
          <div class="breadcrumb-areas">
              <ul class="breadcrumbs">
                  <li><a href="{% url 'home' %}">Hjem</a></li>
                  <li class="active">{{singel_car.car_title}}</li>
              </ul>
          </div>
      </div>
  </div>
  <!-- Sub Banner end -->

  <!-- Car details page start -->
  <div class="car-details-page content-area-6">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-md-12 col-xs-12">
                  <div class="car-details-section">
                      <!-- Heading start -->
                      {% include 'includes/messages.html'%}
                      <div class="heading-car clearfix">
                          <div class="pull-left">
                              <h3>{{singel_car.car_title}}</h3>
                          </div>
                          {% if singel_car.reduced_price < singel_car.price %}
                          <div class="pull-right">
                              <h3><span>{{singel_car.reduced_price | intcomma}} DDK</span></h3>
                              <span><del>{{singel_car.price | intcomma}} DDK</del></span>
                          </div>
                        {% else %}
                        <div class="pull-right">
                            <h3><span>{{singel_car.price | intcomma}} DDK</span></h3>
                        </div>
                        {% endif %}
                      </div>
                      <div id="carDetailsSlider" class="carousel car-details-sliders slide mb-40">
                          <!-- main slider carousel items -->
                          <div class="carousel-inner">
                            {% if singel_car.car_photo %}
                              <div class="active item carousel-item" data-slide-number="0">
                                  <img src="{{singel_car.car_photo.url}}" class="img-fluid" alt="no-image">
                              </div>
                              {% endif %}
                              {% if singel_car.car_photo_1 %}
                              <div class="item carousel-item" data-slide-number="1">
                                  <img src="{{singel_car.car_photo_1.url}}" class="img-fluid" alt="no-image">
                              </div>
                              {% endif %}
                              {% if singel_car.car_photo_2 %}
                              <div class="item carousel-item" data-slide-number="2">
                                  <img src="{{singel_car.car_photo_2.url}}" class="img-fluid" alt="no-image">
                              </div>
                              {% endif %}
                              {% if singel_car.car_photo_3 %}
                              <div class="item carousel-item" data-slide-number="3">
                                <img src="{{singel_car.car_photo_3.url}}" class="img-fluid" alt="no-image">
                             </div>
                             {% endif %}
                             {% if singel_car.car_photo_4 %}
                             <div class="item carousel-item" data-slide-number="4">
                                <img src="{{singel_car.car_photo_4.url}}" class="img-fluid" alt="no-image">
                            </div>
                            {% endif %}
                            {% if singel_car.car_photo_5 %}
                            <div class="item carousel-item" data-slide-number="5">
                                <img src="{{singel_car.car_photo_5.url}}" class="img-fluid" alt="no-image">
                            </div>
                            {% endif %}
                            {% if singel_car.car_photo_6 %}
                            <div class="item carousel-item" data-slide-number="6">
                                <img src="{{singel_car.car_photo_6.url}}" class="img-fluid" alt="no-image">
                            </div>
                            {% endif %}
                            {% if singel_car.car_photo_7 %}
                            <div class="item carousel-item" data-slide-number="7">
                                <img src="{{singel_car.car_photo_7.url}}" class="img-fluid" alt="no-image">
                            </div>
                            {% endif %}
                            {% if singel_car.car_photo_8 %}
                            <div class="item carousel-item" data-slide-number="8">
                                <img src="{{singel_car.car_photo_8.url}}" class="img-fluid" alt="no-image">
                            </div>
                            {% endif %}
                            {% if singel_car.car_photo_9 %}
                            <div class="item carousel-item" data-slide-number="9">
                                <img src="{{singel_car.car_photo_9.url}}" class="img-fluid" alt="no-image">
                            </div>
                            {% endif %}
                          </div>
                          <!-- main slider carousel nav controls -->
                          <div class="carousel-indicators-section clearfix">
                              <ul class="carousel-indicators car-properties list-inline nav nav-justified">
                                {% if singel_car.car_photo %}
                                  <li class="list-inline-item active">
                                      <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#carDetailsSlider">
                                          <img src="{{singel_car.car_photo.url}}" class="img-fluid" alt="no-image">
                                      </a>
                                  </li>
                                  {% endif %}
                                  {% if singel_car.car_photo_1 %}
                                  <li class="list-inline-item">
                                      <a id="carousel-selector-1" data-slide-to="1" data-target="#carDetailsSlider">
                                          <img src="{{singel_car.car_photo_1.url}}" class="img-fluid" alt="no-image">
                                      </a>
                                  </li>
                                  {% endif %}
                                  {% if singel_car.car_photo_2 %}
                                  <li class="list-inline-item">
                                    <a id="carousel-selector-2" data-slide-to="2" data-target="#carDetailsSlider">
                                        <img src="{{singel_car.car_photo_2.url}}" class="img-fluid" alt="no-image">
                                    </a>
                                </li>
                                {% endif %}
                                {% if singel_car.car_photo_3 %}
                                <li class="list-inline-item">
                                    <a id="carousel-selector-3" data-slide-to="3" data-target="#carDetailsSlider">
                                        <img src="{{singel_car.car_photo_3.url}}" class="img-fluid" alt="no-image">
                                    </a>
                                </li>
                               {% endif %}
                               {% if singel_car.car_photo_4 %}
                               <li class="list-inline-item">
                                   <a id="carousel-selector-4" data-slide-to="4" data-target="#carDetailsSlider">
                                       <img src="{{singel_car.car_photo_4.url}}" class="img-fluid" alt="no-image">
                                   </a>
                               </li>
                              {% endif %}
                              {% if singel_car.car_photo_5 %}
                              <li class="list-inline-item">
                                  <a id="carousel-selector-5" data-slide-to="5" data-target="#carDetailsSlider">
                                      <img src="{{singel_car.car_photo_5.url}}" class="img-fluid" alt="no-image">
                                  </a>
                              </li>
                             {% endif %}
                             {% if singel_car.car_photo_6 %}
                             <li class="list-inline-item">
                                 <a id="carousel-selector-6" data-slide-to="6" data-target="#carDetailsSlider">
                                     <img src="{{singel_car.car_photo_6.url}}" class="img-fluid" alt="no-image">
                                 </a>
                             </li>
                            {% endif %}
                            {% if singel_car.car_photo_7 %}
                            <li class="list-inline-item">
                                <a id="carousel-selector-7" data-slide-to="7" data-target="#carDetailsSlider">
                                    <img src="{{singel_car.car_photo_7.url}}" class="img-fluid" alt="no-image">
                                </a>
                            </li>
                           {% endif %}
                           {% if singel_car.car_photo_8 %}
                           <li class="list-inline-item">
                               <a id="carousel-selector-8" data-slide-to="8" data-target="#carDetailsSlider">
                                   <img src="{{singel_car.car_photo_8.url}}" class="img-fluid" alt="no-image">
                               </a>
                           </li>
                          {% endif %}
                          {% if singel_car.car_photo_9 %}
                          <li class="list-inline-item">
                              <a id="carousel-selector-9" data-slide-to="9" data-target="#carDetailsSlider">
                                  <img src="{{singel_car.car_photo_9.url}}" class="img-fluid" alt="no-image">
                              </a>
                          </li>
                         {% endif %}
                              </ul>
                          </div>
                      </div>

                      <!-- Tabbing box start -->
                      <div class="tabbing tabbing-box mb-40">
                          <ul class="nav nav-tabs" id="carTab" role="tablist">
                              <li class="nav-item">
                                  <a class="nav-link active show" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="false">Beskrivelse </a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false">udstyr</a>
                              </li>
                          </ul>
                          <div class="tab-content" id="carTabContent">
                              <div class="tab-pane fade active show" id="one" role="tabpanel" aria-labelledby="one-tab">
                                  <div class="car-description mb-50">

                                      <p>{{singel_car.description | safe}}</p>
                                      
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">
                                  <div class="features-info mb-50">
                                      <div class="row">
                                          <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
                                            {% for f in singel_car.features%}
                                            {% cycle 'odd' 'even' as state silent %}
                                            {% if state == 'odd' %}
                                              <ul style="list-style-type:disc">
                                                  <li>
                                                      {{f}}
                                                  </li>
                                              </ul>
                                              {% endif %}
                                              {% endfor %}
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {% for f in singel_car.features%}
                                            {% cycle 'odd' 'even' as state silent %}
                                            {% if state == 'even' %}
                                            <ul style="list-style-type:disc">
                                                <li>
                                                    {{f}}
                                                </li>
                                            </ul>
                                            {% endif %}
                                            {% endfor %}
                                          </div>
                                      </div>
                                  </div>
                              </div>

                          </div>
                      </div>


                  </div>
              </div>
              <div class="col-lg-4 col-md-12">
                  <div class="sidebar-right2">
                      <!-- Advanced search start -->
                      <div class="widget advanced-search d-none-992">
                          <button class="btn btn-outline-danger bomd btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Send besked</button>
                          <br>
                          <ul>
                            <li>
                                <span>ÅR::</span>{{singel_car.year}}
                            </li>
                            <li>
                                <span>MÆRKE::</span>{{singel_car.make}}
                            </li>
                            <li>
                                <span>Gear:</span>{{singel_car.transmission}}
                            </li>
                            <li>
                                <span>BILTYPE:</span>{{singel_car.body_style}}
                            </li>
                            <li>
                                <span>Farve:</span>{{singel_car.color}}
                            </li>
                            <li>
                              <span>KM:</span>{{singel_car.km}}
                            </li>
                            <li>
                                <span>DØRE:</span>{{singel_car.doors}}
                            </li>
                            <li>
                                <span>BRÆNDSTOF:</span>{{singel_car.fuel_type}}
                            </li>
                          </ul>
                      </div>

                      <!-- Inquiry Modal -->
                      <div class="modal fade" id="inquiryModal" role="dialog">
                          <div class="modal-dialog martop">
                              <div class="modal-content">
                                  <div class="contact-dealer modal-header">
                                      <!-- <h5 class="modal-title" id="inquiryModalLabel">Contact Dealer</h5> -->
                                      <center><img src="{% static 'img/logos/logo-black-white.png' %}"></center>
                                      <button type="button" class="close" data-dismiss="modal">
                                          <span>&times;</span>
                                      </button>
                                  </div>
                                  <div class="modal-body">
                                      <form action="{% url 'inquiry'%}" method="POST">
                                          {% csrf_token %}
                                          <input type="hidden" name="car_id" value="{{ singel_car.id }}">
                                          <div class="form-group">
                                              <label for="name" class="col-form-label">Hej mit navn er</label>
                                              <div class="row">
                                                  <div class="col">
                                                      <input type="text" name="full_name" class="form-control" placeholder="Dit navn" required>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                            <div class="row">
                                                <div class="col">
                                                    <label for="name" class="col-form-label">Du kan nå mig via e-mail på</label>
                                                    <input type="email" name="email" class="form-control" placeholder="Email Address" required>
                                                </div>
                                            </div>
                                        </div>
                                          <div class="form-group">
                                              <select class="form-control" id="sel1" name="customer_need">
                                                  <option value="Jeg er interesseret i dette">Jeg er interesseret i dette</option>
                                                  <option value="Jeg vil gerne vide din bedste pris for dette">Jeg vil gerne vide din bedste pris for dette</option>
                                                  <option value="Jeg vil gerne prøve at køre dette">Jeg vil gerne prøve at køre dette</option>
                                                  <option value="Jeg vil gerne have en historierapport for dette">Jeg vil gerne have en historierapport for dette</option>
                                              </select>
                                          </div>

                                          <div class="form-group">
                                              <input type="text" name="car_title" class="form-control" value="{{singel_car.car_title}}" readonly>
                                          </div>     

                                          <div class="form-group">
                                              <label for="message" class="col-form-label">Tilføj kommentarer</label>
                                              <textarea name="message" class="form-control" placeholder="Indtast din besked her (valgfrit)"></textarea>
                                          </div>
                                          <hr>
                                          <input type="submit" value="Send" class="btn btn-block btn-danger">
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Question start -->
                      <div class="widget question">
                          <h5 class="sidebar-title">Få et spørgsmål?</h5>
                          <ul class="contact-info">
                              <li>
                                  <i class="flaticon-pin"></i>20/F Green Road, Dhanmondi
                              </li>
                              <li>
                                  <i class="flaticon-mail"></i><a href="mailto:info@themevessel.com">info@themevessel.com</a>
                              </li>
                              <li>
                                  <i class="flaticon-phone"></i><a href="tel:+0477-85x6-552">+0477 85x6 552</a>
                              </li>
                          </ul>
                          <div class="social-list clearfix">
                              <ul>
                                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="instagram-bg"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" class="google-bg"><i class="fa fa-youtube"></i></a></li>
                              </ul>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Properties details page end -->

{% endblock %}